header {
    border-width: 1px;
    border-color: goldenrod;
    display: inline;
    list-style-type: none;
    padding: 8px;
}

.disabled {
    color: grey;
}

a.disabled {
    color: purple;
}

.active{
    color: yellow;
}

.grandparent h4 {
    border: 1px solid black;
  border-radius: 5px;
}

.promo {
   font-weight: bold;
   color:gold;
}

input {
   width: 25px;
   height: 25px;
}
